<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                @*<a class="navbar-brand" href="#">
                        <img src="~/images/163858-Pendulum-In_Silico-logo-music-black_background-colorful.jpg" />
                    </a>*@
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div style="height:60px">
                    @Html.ActionLink("Utopia For Music", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                    @Html.ActionLink("|", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                    @Html.ActionLink("Charts", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
            </div>
            <ul class="nav navbar-nav navbar-right" style="color:white; padding-top:24px">
                
               
                    <span class="glyphicon glyphicon-user"></span> David
               

            </ul>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                   
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>